/*Body/Background*/

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    color: whitesmoke;
    background-color: rgb(213, 96, 41);
    opacity: 99%;
    text-align: center;
    margin: 0;
    z-index: -0;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 187, 0), #ff4400);
    background-color: orange;
    position: fixed;
    top: 0px;
    border-bottom: 1.1px solid greenyellow;
}

.ready {
    height: 99px;
    float: left;
    padding: 10px;
    width: 250px;
    height: 80px;
    padding: 9px;
    background-color: gold;
    box-shadow: 10px 10px 5px black;
    border-radius: 90%;
}

.ready-a {
    height: 99px;
    float: left;
    padding: 10px;
    width: 250px;
    height: 80px;
    padding: 9px;
}



.nav {
    float: right;
    height: 100%;
    margin: 0 auto;
}

.nav,
a {
    height: 100%;
    display: table;
    float: right;
    padding: 0px 20px;
}

.nav,
a,
li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    text-decoration: none;
}

.learn-container {
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    max-width: 1280px;
    margin: 10 50px;
    display: flex;
    z-index: -0;
    text-align: center;
    font-size: 10px;
    padding: 10px 10px;
    align-content: space-between;
}

/*.mentors-container {
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    max-width: 1280px;
    margin: 10 50px;
    display: flex;
    z-index: -0;
    text-align: center;
    font-size: 10px;
    padding: 10px 10px;
    align-content: space-between;
}*/

.classmates-container {
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    max-width: 1280px;
    margin: 10 50px;
    display: flex;
    z-index: -0;
    text-align: center;
    font-size: 10px;
    padding: 10px 10px;
    align-content: space-between;
}

.Classmates {
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    max-width: 1280px;
    margin: 10 50px;
    display: flex;
    z-index: -0;
    text-align: center;
    font-size: 10px;
    padding: 10px 10px;
    align-content: space-between;
    border: 5px solid red;
}


.text-over {
    margin: auto;
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 187, 0), #ff4400);
    background-color: orange;
    width: 1280px;
    border: 1px solid greenyellow;
    font-size: 33px;
}

.text-over-lm {
    margin: auto;
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 187, 0), #ff4400);
    background-color: orange;
    width: 1280px;
    border: 1px solid greenyellow;
    font-size: 33px;
}


h1 {
    font-family: fantasy;
    font-size: 300px;
    color: white;
    text-decoration: line-through;
    text-align: center;
    transition: transform 0.5s;
    /* Animation */
    width: auto;
    height: auto;
    margin: 30px auto;
}

h1:hover {
    transform: scale(1.3);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.meet {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
    text-align: center;
    z-index: 0;
}

.richard {
    display: flex;
    max-height: 300px;
    max-width: 300px;

}

.jimesa {
    display: flex;
    max-height: 300px;
    max-width: 300px;
}

.in-demand {
    width: 1280px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid greenyellow;
}

.empower {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0px;
    background-position: center;
}

.name {
    float: left;
    color: yellow;
    font-size: 36px;
    margin: 100px 25px;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
}

/*.OurMssn {
    max-width: 1280px;
    min-height: auto;
    border: 1px solid greenyellow;

}*/

.emp {
    border: 3px solid blue;
    margin-top: 50px;
}

.photo {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    margin-left: 10px;
    display: inline;
}

.container {
    min-width: 1280px;
    min-height: 750px;
    border: 1px solid yellowgreen;
    padding: 1px;
    margin-top: 99px;
    margin-bottom: 0px;
}

.container-a {
    min-width: 1280px;
    min-height: 750px;
    border: 1px solid yellowgreen;
    padding: 1px;
    margin: 10px auto;
}

.container-names {
    display: flex;
    width: 400px;
    height: 300px;
    border: 1px solid greenyellow;
}

.a {
    color: yellow;

}

.a:hover {
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 187, 0), #ff4400);
    color: rgb(155, 100, 0);
}

.b {
    color: white;
}

.b:hover {
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 187, 0), #ff4400);
    color: yellow;
}

.c {
    color: rgb(155, 100, 0);
}

.c:hover {
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 187, 0), #ff4400);
    color: white;
}

.c-mo {
    color: rgb(155, 100, 0);
}

.c-mo:hover {
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 187, 0), #ff4400);
    color: white;
}


.a-b {
    color: yellow;
    text-decoration: line-through;
}

.a-b:hover {
    color: rgb(155, 100, 0);
    text-decoration: line-through;
}

.b-c {
    color: white;
    text-decoration: line-through;
}

.b-c:hover {
    color: yellow;
    text-decoration: line-through;
}

.c-d {
    color: rgb(155, 100, 0);
    text-decoration: line-through;
}

.c-d:hover {
    color: white;
    text-decoration: line-through;
}


h6 {
    display: block;
    flex-basis: baseline;
    font-size: 20px;
    bottom: 0;
    align-content: center;
}

.one {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

h2 {
    font-size: 72px;
}

.banner {
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-top {
    font-size: 45px;
    font-weight: bold;
}

.profiles {
    max-width: 1280px;
    margin: 15px 10px;
    justify-content: space-between;
    display: flex;
    display: block;
}

.photos {
    height: 300px;
    padding: 20px;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    display: block;
    flex-basis: 30%;
    box-sizing: border-box;
    /* background-color: yellow;*/
    opacity: 90;
}

.p-a {
    color: black;
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto 10px;

}

.link {}


p {
    color: yellow;
}



/*Media Quieries*/

@media only screen and (max-width: 900px),
(orientation: landscape) {
    .logos nav header span a {
        max-height: 80px;
        float: left;
        padding: 10px;
        display: flex;
        display: block;
        position: relative;
    }
}

/*YouTube In-Demand Video "Gyasi Linje*/

/*@media screen and (min-width: 900px),
(orientation: landscape) {
    iframe,h3,a,.in-demand {
        width: 1200px;
        height: 550px;

    }
}

@media screen and (min-width: 840px),
(orientation: landscape) {
    iframe,
        h3,
        a,
        .in-demand {
        width: 900px;
        height: 550px;

    }
}

@media screen and (max-width: 840px),
(orientation: landscape) {
    iframe,
        h3,
        a,
        .in-demand {
        width: 600px;
        height: 300px;

    }
}

@media screen and (max-width: 600px),
(orientation: landscape) {
    iframe,
        h3,
        a,
        .in-demand {
        width: 550px;
        height: 350px;

    }
}

@media screen and (max-width: 580px),
(orientation: landscape) {
    iframe,
        h3,
        a,
        .in-demand {
        width: 520px;
        height: 350px;

    }
}

@media only screen and (max-width: 520px),(orientation: landscape) {
    iframe,
        h3,
        a,
        .in-demand {
        width: 320px;
        height: 300px;

    }
}*/



/*end*/

@media screen and (max-width: 1850px) {
    iframe {
        margin-top: 600px auto 0px;
        border: 5px solid greenyellow;
        width: 1080px;
        height: 750px;
    }
}

@media screen and (max-width: 1020px) {
    iframe {
        margin-top: 600px auto 0px;
        border: 5px solid greenyellow;
        width: 840px;
        height: 550px;

    }
}

@media screen and (max-width: 840px) {
    iframe {
        margin-top: 600px auto 0px;
        border: 5px solid pink;
        width: 600px;
        height: 300px;

    }
}

@media screen and (max-width: 600px) {
    iframe {
        margin-top: 520px auto 0px;
        border: 5px solid red;
        width: 550px;
        height: 350px;

    }
}

@media screen and (max-width: 580px) {
    iframe {
        margin-top: 520px auto 0px;
        border: 5px solid red;
        width: 520px;
        height: 350px;

    }
}

@media screen and (max-width: 520px) {
    iframe {
        margin-top: 520px auto 0px;
        border: 5px solid red;
        width: 320px;
        height: 300px;

    }
}

/*In-Demand Image*/

@media screen and (max-width: 1850px) {
    .in-demand {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 750px;
    }
}

@media screen and (max-width:1025px) {
    .in-demand {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 650px;
    }
}

@media screen and (max-width: 600px) {
    .in-demand {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 580px) {
    .in-demand {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 520px) {
    .in-demand {
        max-width: 1200px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .in-demand {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 300px;
    }
}

/*OurMission Image*/

@media screen and (max-width: 1850px) {
    .OurMssn {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 750px;
    }
}

@media screen and (max-width:1025px) {
    .OurMssn {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 650px;
    }
}

@media screen and (max-width: 600px) {
    .OurMssn {
        max-width: 1850px;
        border: 5px solid greenyellow;
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 580px) {
    .OurMssn {
        max-width: 1850px;
        border: 5px solid greenyellow;
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 520px) {
    .OurMssn {
        max-width: 1200px;
        border: 5px solid greenyellow;
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .OurMssn {
        max-width: 1850px;
        border: 5px solid greenyellow;
        width: 100%;
        height: 300px;
    }
}

/*Containers/.Main*/

@media screen and (max-width: 1850px) {
    .main {
        max-width: 1850px;
        width: 1080px;
        height: 750px;
    }
}

@media screen and (max-width:1025px) {
    .main {
        max-width: 1850px;
        width: 1360px;
        height: 650px;
    }
}

@media screen and (max-width: 600px) {
    .main {
        max-width: 1850px;
        width: 550px;
        height: 350px;
    }
}

@media screen and (max-width: 580px) {
    .main {
        max-width: 1850px;
        width: 500px;
        height: 350px;
    }
}

@media screen and (max-width: 520px) {
    .main {
        max-width: 1200px;
        width: 320px;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .main {
        max-width: 1850px;
        width: 320px;
        height: 300px;
    }
}

/*Empower, SWD30Prgm,*/

@media screen and (max-width: 1850px) {
    .empower {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 750px;
    }
}

@media screen and (max-width:1025px) {
    .empower {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 650px;
    }
}

@media screen and (max-width: 600px) {
    .empower {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 580px) {
    .empower {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 520px) {
    .empower {
        max-width: 1200px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .empower {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 1850px) {
    .empower {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 750px;
    }
}

@media screen and (max-width:1025px) {
    .empower {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 650px;
    }
}

@media screen and (max-width: 600px) {
    .empower {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 580px) {
    .empower {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 520px) {
    .empower {
        max-width: 1200px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .empower {
        max-width: 1850px;
        border: 1px solid greenyellow;
        width: 100%;
        height: 300px;
    }
}